@import '../../common/less/variable.less';
.index {
	.title {
		.height(100);
		.line-height(100);
		.font-size(30);
		text-align: center;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		color: #1abc9c;
		cursor: pointer;
	}
	.index-content {
		.margin-top(110);
	}
}